*,*::after,*::before {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}
h1,h2 {
    font-weight: normal;
}
body {
    background:  #f4f4f6;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 26px 0 #e1e1e1;
    background: #fff;
}
.header {
    padding: 0 45px;
    cursor: pointer;
    height: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    &__logo {
        text-transform: uppercase;
        color: #6d7278;
    }
    &__visit {
        color: #6d7278;
    }
    &__availability {
        color: #8a7c5d;
        display: flex;
        i {
            margin-right: 5px;
            position: relative;
            top: 2px;
        }
    }
    span {
        margin-right: 15px;
    }
}
.description {
    padding: 0 45px;
    h1 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 30px;
    }
    p {
        font-size: 18px;
        width: 100%;
        max-width: 450px;
    }
}
.main {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #142536;
    color: #fff;
    &__tabs {
        .tab {
            font-size: 22px;
            display: flex;
            justify-content: space-between;
            padding: 30px 45px;
            i {
                svg {
                    cursor: pointer;
                    position: relative;
                    top: 2px;
                }
            }
        }
        .tab-1 {
            border-bottom: 1px solid #405265;
        }
        .tab-2 {
            border-bottom: 1px solid #405265;   
        }
    }
    &__description {
        padding: 0 45px;
        padding: 30px 45px;;
        border-bottom: 1px solid #405265;   
        display: none;
        &.active {
            display: block;
        } 
        img {
            position: relative;
            left: -93px;
        }
    }
    .description-1 {
        &__content {
            display: flex;
            justify-content: space-between;
        }
     
        &__text {
            max-width: 700px;
            font-size: 18px;
            p {
                margin-bottom: 15px;
            }
        }
    }
    .description-2 {
        &__content {
            display: flex;
            justify-content: space-between;  
        }
        &__form {
            margin-top: 30px;
            margin-bottom: 45px;
            input {
                display: block;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid #5c738b;
                width: 100%;
                max-width: 280px;
                padding: 5px;
                font-size: 16px;
                cursor: pointer;
                color: #fff;
                background-image: url('../img/close-btn.svg');
                background-repeat: no-repeat;
                background-position: 265px;
                &:first-child { 
                    margin-bottom: 30px;
                }
                &:hover {
                    border-bottom: 1px solid #fff;
                }
                &:focus {
                    border-bottom: 1px solid #fff;
                }
            }
            &-btn {
                button {
                    border-radius: 29.5px;
                    padding: 10px 20px;
                    background-color: transparent;
                    color: #fff;
                    border: 1px solid #fff;
                    cursor: pointer;
                    &:hover {
                        color: rgb(31, 58, 179);
                        border: 1px solid rgb(31, 58, 179)
                    }
                }
            }
        }
        &__text {   
            font-size: 18px;
            width: 100%;
            p {
                max-width: 700px;

            }
            display: flex;
            justify-content: space-between;
    
        }
   }
}
img {
    max-width: 100%;
}
@media screen and (max-width : 1199px) {
    .container {
        width: 960px;
    }
    .main__description   {
        img {
            position: relative;
            left: 5px !important;
        }
    }
}
@media screen and (max-width : 991px) {
    .container {
        width: 750px;
    }
    .description-1__content, .description-2__content {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .description-2__form-wrap {
        text-align: center;
        input {
            margin: 0 auto;
        } 
    }
}
@media screen and (max-width : 767px) {
    .container {
        width: 600px;
        max-width: 100%;
    }
}
@media screen and (max-width : 575px) {
    .container {
        width: 100%;
    }
    .header {
        &__availability {
            p {
                display: none;
            }
        }
        &__visit {
            min-width: 100px;
        }
    }
    .header,.description, .main__description,.tab {
        padding: 0 15px !important;
    }
    .tab {
        padding: 15px !important;
    }
}